<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>bongus</title>
  </head>
  <body>
    <h1>Video Summary Generator</h1>
    <h3>Too busy to watch a YouTube video, or unsure if you want to or not? Paste the link in below and get a brief summary of its contents.</h3>
    <label for="urlLink">Link</label>
    <input type="text" id="link" name="urlLink">
    <button onclick="submit()">Submit</button>
    <p id="transcriptDisplay">Type in a link and hit submit...</p>
    <p style="font-size: 8">This project was made with Hack Club's WizardOrpheus because I'm too broke for OpenAI.</p>
    <script src="https://wizard-orpheus.hackclub.dev/wizard_orpheus.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
